@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --color-1: #FDFFFC;
    --color-2: #011627;
    --color-3: #969fa7;
    --color-4: #c9ced4;
    --color-5: #5C975E;
}

body{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-1);
}